root = true

[*]
max_line_length = 100
indent_size = 2

[renovate.json5]
max_line_length = 300

[Dockerfile]
max_line_length = 200

[{*.sh,.gitignore,go.work.sum,mise.lock,*.yml,*.yaml,pom.xml,*.cmd,maven-wrapper.properties,go.sum,package-lock.json}]
max_line_length = 150

[{grafana-dashboard-jvm-metrics.json,grafana-dashboard-red-metrics-classic.json,grafana-dashboard-red-metrics-native.json,.editorconfig}]
max_line_length = 3000

[*.py]
# checked by black
indent_size = 4
