# pin all versions to avoid GitHub rate limit
[tools]
go = "1.25.6"
"go:github.com/grafana/oats" = "0.6.0"
java = "temurin-25.0.1+8.0.LTS"
lychee = "0.22.0"
markdownlint-cli2 = "0.20.0"
rust = "1.93.0"

[env]
# renovate: datasource=docker depName=ghcr.io/super-linter/super-linter
SUPER_LINTER_VERSION="v8.4.0@sha256:c5e3307932203ff9e1e8acfe7e92e894add6266605b5d7fb525fb371a59a26f4"

[tasks."lint:links"]
file = "https://raw.githubusercontent.com/open-telemetry/opentelemetry-java-contrib/refs/heads/main/.mise/tasks/lint/links.sh"

[tasks."lint:local-links"]
file = "https://raw.githubusercontent.com/open-telemetry/opentelemetry-java-contrib/refs/heads/main/.mise/tasks/lint/local-links.sh"

[tasks."lint:links-in-modified-files"]
file = "https://raw.githubusercontent.com/open-telemetry/opentelemetry-java-contrib/refs/heads/main/.mise/tasks/lint/links-in-modified-files.sh"

[tasks."lint:links-in-modified-files-ci"]
description = "Lint links in modified files (CI configuration)"
run = "mise run lint:links-in-modified-files --base origin/$GITHUB_BASE_REF --head $GITHUB_HEAD_SHA"

[tasks."lint:links-in-modified-files-local"]
description = "Lint links in modified files (local configuration)"
run = "mise run lint:links-in-modified-files --base origin/main --head HEAD"

[tasks."lint:all"]
depends = ["lint:super-linter", "lint:rest"]

[tasks."lint:rest"]
description = "All lints not covered by super linter"
depends = ["lint:local-links", "lint:links-in-modified-files-local"]

[tasks."lint:rest-ci"]
description = "All lints not covered by super linter (CI configuration)"
depends = ["lint:local-links", "lint:links-in-modified-files-ci"]

[tasks.lgtm]
usage = 'arg "<tag>" default="latest"'
run = './run-lgtm.sh ${usage_tag?}'

[tasks.local-lgtm]
description = "Run locally built LGTM image"
run = './run-lgtm.sh latest true'

[tasks.example]
alias = "example-java"
run = "./run-example.sh"

[tasks.example-nodejs]
dir = "examples/nodejs"
run = "./run.sh"

[tasks.example-python]
dir = "examples/python"
run = "./run.sh"

[tasks.example-go]
dir = "examples/go"
run = "./run.sh"

[tasks.example-dotnet]
dir = "examples/dotnet"
run = "./run.sh"

[tasks.generate-traffic]
run = "./generate-traffic.sh"

[tasks.all]
depends = ["lgtm", "example", "generate-traffic"]

[tasks.k8s-apply]
run = "kubectl apply -f k8s/lgtm.yaml"

[tasks.k8s-port-forward]
run = "kubectl port-forward service/lgtm 3000:3000 4040:4040 4317:4317 4318:4318 9090:9090"

[tasks.build-lgtm]
usage = 'arg "<tag>" default="latest"'
run = './build-lgtm.sh ${usage_tag?}'

[settings]
# for go backend
experimental = true
