# Lychee configuration file
# See https://lychee.cli.rs/config/

timeout = 30
retry_wait_time = 5
max_retries = 6
max_concurrency = 4

# Check link anchors
include_fragments = true

remap = [
  # workaround for https://github.com/lycheeverse/lychee/issues/1729
  "https://github.com/(.*?)/(.*?)/blob/(.*?)/(.*#.*)$ https://raw.githubusercontent.com/$1/$2/$3/$4"
]

exclude = [
  # locally running Grafana instance, used for testing and development
  "http://127.0.0.1:3000/",
  # Google Docs links are often rate-limited and not critical to validate in this repository,
  # so we exclude them to avoid false positives and improve performance
  "https://docs.google.com/.*"
]
