receivers:
  otlp:
    protocols:
      grpc:
      http:
  prometheus/collector:
    config:
      scrape_configs:
        - job_name: 'opentelemetry-collector'
          static_configs:
            - targets: ['localhost:8888']

processors:
  batch:

exporters:
  otlphttp/metrics:
    endpoint: http://localhost:9090/api/v1/otlp
  otlphttp/traces:
    endpoint: http://localhost:4418
  loki:
    endpoint: http://localhost:3100/loki/api/v1/push
  logging/metrics:
    verbosity: detailed
  logging/traces:
    verbosity: detailed
  logging/logs:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/traces]
      #exporters: [otlphttp/traces,logging/traces]
    metrics:
      receivers: [otlp,prometheus/collector]
      processors: [batch]
      exporters: [otlphttp/metrics]
      #exporters: [otlphttp/metrics,logging/metrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [loki]
      #exporters: [loki,logging/logs]
