server:
  grpc_listen_port: 9097 # to avoid conflict with tempo

metastore:
  address: 127.0.0.1
  min_ready_duration: 1s

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    min_ready_duration: 1s

