---
services:
  rolldice:
    image: rolldice
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8083:8083
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      - OTEL_METRIC_EXPORT_INTERVAL=5000 # so we don't have to wait 60s for metrics
    depends_on:
      - otel-lgtm

  otel-lgtm:
    image: grafana/otel-lgtm

    ports:
      - 3000:3000
      - 4317:4317
      - 4318:4318
