---
name: Acceptance Tests

on: [pull_request]

env:
  # renovate: datasource=github-releases depName=mise packageName=jdx/mise
  MISE_VERSION: '2025.7.11'

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: jdx/mise-action@bfb9fa0b029db830a8c570757cee683df207a6c5 # v2.4.0
        with:
          version: ${{ env.MISE_VERSION }}
      - name: Run acceptance tests
        run: ./scripts/run-acceptance-tests.sh ${{ github.event.pull_request.head.sha }}
