---
name: Acceptance Tests

on: [pull_request]

jobs:
  acceptance-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          path: main
      - name: Check out oats
        uses: actions/checkout@v4
        with:
          repository: grafana/oats
          ref: ec2a620bcaebc053dcfa468734cb013ae2ccf947
          path: oats
      - uses: jdx/mise-action@v2
        with:
          experimental: true
          working_directory: main
      - name: Build Image for integration tests
        working-directory: ./main
        run: ./build-lgtm.sh $GITHUB_SHA
      - name: Run acceptance tests
        working-directory: ./main
        run: ./scripts/run-acceptance-tests.sh
        env:
          TESTCASE_TIMEOUT: 5m
          TESTCASE_BASE_PATH: examples
          LGTM_VERSION: $GITHUB_SHA
      - name: upload log file
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: OATS logs
          path: oats/yaml/build/**/*.log
