---
name: Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: v2026.1.9
          sha256: a1f5024228f4989595c1d22eaf861d5fb77716145050db5edb2474de8c25f4a2
      - name: Run acceptance tests
        run: mise run acceptance-tests ${{ github.event.pull_request.head.sha }}
