---
name: Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: v2025.10.1
          sha256: b59f4166dc942111591c48218ea4754918049f395ec8c25c88857a9200093bd9
      - name: Run acceptance tests
        run: ./scripts/run-acceptance-tests.sh ${{ github.event.pull_request.head.sha }}
