---
name: Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: v2026.1.2
          sha256: 2dbe0093412ae093c5869b909511ae0c362396ad485b63190f63db6b0dec2abc
      - name: Run acceptance tests
        run: mise run acceptance-tests ${{ github.event.pull_request.head.sha }}
