---
name: Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: jdx/mise-action@429184fe4bc03ec959a8c13a993f514e6633ed3d # v2.3.0
        env:
          MISE_ENABLE_TOOLS: go:github.com/grafana/oats
      - name: Run acceptance tests
        run: ./scripts/run-acceptance-tests.sh ${{ github.event.pull_request.head.sha }}
