---
name: Acceptance Tests

on: [pull_request]

permissions: {}

jobs:
  acceptance-tests:
    permissions: {}
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        with:
          persist-credentials: false
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: v2025.11.4
          sha256: dc92ae30e0f75c5963b25cb072197412ea33c9e065c7bcbb95f5bd4d6553ebbd
      - name: Run acceptance tests
        run: ./scripts/run-acceptance-tests.sh ${{ github.event.pull_request.head.sha }}
