name: publish-release

on:
  workflow_dispatch:
    inputs:
      draft:
        description: 'If true, creates the release as a draft.'
        required: false
        type: boolean
        default: false
      version:
        description: 'The optional version number to use for the release.'
        required: false
        type: string
        default: ''

permissions: {}

jobs:
  release:
    runs-on: [ ubuntu-latest ]

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    permissions:
      contents: read
      id-token: write

    steps:

      - name: Get GitHub token
        id: get-token
        uses: grafana/shared-workflows/actions/create-github-app-token@ae92934a14a48b94494dbc06d74a81d47fe08a40 # v0.2.2
        with:
          github_app: grafana-otel-bot
          permission_set: default

      - name: Get version
        id: get-version
        shell: pwsh
        env:
          GH_TOKEN: ${{ steps.get-token.outputs.token }}
          NEXT_VERSION: ${{ inputs.version }}
        run: |
          if (-Not [string]::IsNullOrEmpty(${env:NEXT_VERSION})) {
            $nextVersion = [System.Version]::new(${env:NEXT_VERSION}.TrimStart('v'))
          } else {
            $latest = (Invoke-RestMethod -Uri "${env:GITHUB_API_URL}/repos/${env:GITHUB_REPOSITORY}/releases/latest" -Headers @{ Authorization = "Bearer ${env:GH_TOKEN}"; Accept = "application/vnd.github+json" } -ErrorAction Stop).tag_name.TrimStart('v')
            $currentVersion = [System.Version]::new($latest)
            $nextVersion = [System.Version]::new($currentVersion.Major, $currentVersion.Minor, $currentVersion.Build + 1)
          }

          $releaseVersion = $nextVersion.ToString()
          "version=${releaseVersion}" >> ${env:GITHUB_OUTPUT}

      - name: Create release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          DRAFT: ${{ inputs.draft == true }}
          VERSION: ${{ steps.get-version.outputs.version }}
        with:
          github-token: ${{ steps.get-token.outputs.token }}
          script: |
            const { repo, owner } = context.repo;
            const draft = process.env.DRAFT === 'true';
            const version = process.env.VERSION;
            const tag_name = `v${version}`;
            const target_commitish = process.env.DEFAULT_BRANCH;
            const name = tag_name;

            const { data: release } = await github.rest.repos.createRelease({
              owner,
              repo,
              tag_name,
              target_commitish,
              name,
              draft,
              generate_release_notes: true,
            });

            core.notice(`Created release ${release.name}: ${release.html_url}`);
