---
name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions: {}

jobs:
  release:
    runs-on: ubuntu-24.04

    concurrency:
      group: "${{ github.workflow }}-${{ github.ref }}"
      cancel-in-progress: false

    env:
      # renovate: datasource=github-releases depName=cosign packageName=sigstore/cosign
      COSIGN_VERSION: v3.0.5

    permissions:
      attestations: write
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get Git commit timestamp
        shell: bash
        run: echo "GIT_COMMIT_EPOCH=$(git log -1 --pretty=%ct)" >> "${GITHUB_ENV}"

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/docker-build-push-image@b3d136565946d8788dd6812881fb0fb2fe14bacb # docker-build-push-image/v0.2.0
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
          SOURCE_DATE_EPOCH: ${{ env.GIT_COMMIT_EPOCH }}
        with:
          dockerhub-repository: grafana/otel-lgtm
          context: docker
          push: true
          platforms: linux/amd64,linux/arm64
          registries: "dockerhub"
          build-args: |
            LGTM_VERSION=${{ github.ref_name }}
          tags: |-
            type=match,pattern=v(.*),group=1
            latest
          labels: |-
            org.opencontainers.image.ref.name=${{ github.ref_name }}
            org.opencontainers.image.revision=${{ github.sha }}
            vcs-ref=${{ github.sha }}
            version=${{ github.ref_name }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@e4d4f7c39adfa4c260fb5c147f0622000aa14b99 # v4.0.0
        with:
          push-to-registry: true
          subject-name: docker.io/grafana/otel-lgtm
          subject-digest: ${{ steps.push-to-dockerhub.outputs.digest }}

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Sign container images
        env:
          DIGEST: ${{ steps.push-to-dockerhub.outputs.digest }}
          TAGS: ${{ steps.push-to-dockerhub.outputs.tags }}
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes "{}@${DIGEST}"
