---
name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-24.04

    steps:
      - id: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: push-to-dockerhub
        uses: grafana/shared-workflows/actions/docker-build-push-image@c658f0fe8393e31c39d266684ef273c6538ed0e1 # docker-build-push-image/v0.1.0
        with:
          dockerhub-repository: grafana/otel-lgtm
          context: docker
          push: true
          platforms: linux/amd64,linux/arm64
          registries: 'dockerhub'
          tags: |-
            type=match,pattern=v(.*),group=1
            latest
          labels: |-
            org.opencontainers.image.ref.name=${{ github.ref_name }}
            vcs-ref=${{ github.sha }}
            version=${{ github.ref_name }}
